<main id="main">

    <div class="container">

        <div class="row topspace">

            <!-- Article main content -->
            <article  class="col-sm-8 maincontent col-sm-push-4">
                <div ng-repeat="wod in vm.wods">
                   <header class="page-header">
                    <h1 class="page-title">{{wod.title}}</h1>
                </header>
               
                <div ng-repeat="ww in wod.workouts">
                    <h4>{{ww.subtitle}}</h4><br/>
                    <p ng-bind-html="ww.wod"></p>
                    
                </div>
                </div>
            </article>
            <!--
            <article class="col-sm-8 maincontent col-sm-push-4">
                <header class="page-header">

                    
                    
                    
                    <h1 class="page-title">Tiistai 08.12.2015</h1>
                </header>
                <div>
                <h4>Conditioning</h4>
                <b>“Power Drill”</b><br/>
                5 Rounds:<br/>
                5 Handstand Pushups<br/>
                10 Power Clean, 135/95<br/>
                15 Burpees<br/>
                20 Kettlebell Swings, 53/35<br/>
                25 Wallball Shots, 20/14<br/>
                3 Minute Rest<br/>

                </div>

                <div>
                    <h4>Gymnastics Pulling</h4>
                    1-2-3-4-5-6-7-6-5-4-3-2-1 unbroken Muscle ups for time
                </div>

                <h1 class="page-title">Maanantai 07.12.2015</h1>
                </header>
                <p>
                    <h4>Strength</h4>
                    Back-Squat 5-5-5-5-5

                    <h4>Conditioning</h4>
                    4 Rounds for time:<br/>
                    21 Box jump<br />
                    18 Kb Swing 24/16kg<br />
                    15 Wall ball 20/14p<br />
                    12 Burpee
                </p>
               
            <h1 class="page-title">Sunnuntai 06.12.2015</h1>

                <p>
                    <h4>Skills</h4>
                    
                    Muscle up clinic

                    <h4>Snatch</h4>
                    EMOM9<br/>
                Min 1: 50# under PR<br/>
                Min 2: 40# under PR<br/>
                Min 3: 30# under PR<br/>

                </p>
             
            </article>
-->
<!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-md-4 col-md-pull-8 sidebar sidebar-left">

                <!--<div class="row widget">
                    <div class="col-xs-12">
                        <h4>Seuraavat Wodit</h4>

                        <ul>
                            <li>7.12.2015 klo 07.00 (2/12)</li>
                            <li>7.12.2015 klo 16.00 (1/12)</li>
                            <li>7.12.2015 klo 17.00 (7/12)</li>
                            <li>7.12.2015 klo 18.00 (0/12)</li>
                            <li>7.12.2015 klo 19.00 (0/12)</li>

                        </ul>

                    </div>
                </div>-->

                <!--   <div class="row widget">
                          <div class="col-xs-12">
                              <h4>Omat Wodit</h4>
                              <p>
                                  <ul>
                              <li>7.12.2015 klo 16.00</li>
                                      </ul>
                              </p>
                          </div>
                      </div>
      -->

                <div class="row widget">
                    <div class="col-xs-12">

                        <p>
                            <a href="https://www.wodconnect.com/crossfit-siilinjarvi/feed">
                                <img src="assets/images/wodconnect.jpg" alt=""></a>
                        </p>
                    </div>
                </div>


                <div class="row widget">
                    <div class="col-xs-12">
                        <!--<h4>Lorem ipsum dolor sit</h4>-->
                        <iframe src="https://www.wodconnect.com/gyms/crossfit-siilinjarvi/widgets/schedule" width="248" frameborder="0" height="380"></iframe>
                    </div>
                </div>


            </aside><!-- /Sidebar -->




        </div>
    </div>	<!-- /container -->

</main>

