<div class="container">
<div class="row"> 
    <div class="col-sm-12">
      
        <input type="text" ng-model="vm.userInfo.username" placeholder="käyttäjätunnus" class="form-control" />
        
        <input type="text" ng-model="vm.userInfo.password" placeholder="salasana" class="form-control" />
        <button class="btn btn-success">Kirjaudu</button>
      
    <!--   
    <h3>Kirjaudu</h3>
        <label for="username">Käyttäjätunnus</label><br />
        <input type="text" name="username" class="form-control" placeholder="käyttäjätunnus">
                <label for="username">Salasana</label><br />
        <input type="text" class="form-control" placeholder="Sähköpostiosoite">

    </div> 
    <div class="col-sm-6">
    <h3>Luo käyttäjätunnus</h3>
        <label for="username">Käyttäjätunnus</label><br />
        <input type="text" name="username" class="form-control" placeholder="valitse käyttäjätunnus">
                <label for="username">Sähköpostiosoite</label><br />
        <input type="text" class="form-control" placeholder="Sähköpostiosoite">
                <label for="username">Salasana</label><br />
        <input type="text" class="form-control" placeholder="Salasana">
        <br />
        <button class="btn btn-success" value="Tallenna">Tallenna</button>
        <br /><br />

-->
    </div> 
    </div>
</div>