
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 widget">
                <h3 class="widget-title">Yhteystiedot</h3>
                <div class="widget-body">
                    <p>
                        040 043 4005 / Henna<br>
                        0400 865183 / Niko
                        <a href="mailto:#">crossfitsiilinjarvi@gmail.com</a><br>
                        <br>
                        Harjamäenraitti 16, 71870 Siilinjärvi
                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Seuraa meitä</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href=""><i class="fa fa-twitter fa-2"></i></a>
                        <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                        <a href=""><i class="fa fa-github fa-2"></i></a>
                        <a href=""><i class="fa fa-facebook fa-2"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Tulevat Kurssit</h3>
                <div class="widget-body">
                    <p>
                        On Ramp #29 4.1.2016 - 30.1.2016. <a href="#">Ilmoittaudu.</a>
                    </p>
                    <p>On Ramp #30 5.2.2016 - 28.2.2016. <a href="#">Ilmoittaudu.</a></p>
                    <p>
                        <b>Foundations</b> viikonlopun mittainen intensiivikurssi järjestetään seuraavan kerran 26 - 27.2.2016. Paikkoja jäljellä 2/8 varaa omasi <a href="#">tästä.</a>

                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Seuraavat wodit</h3>
                <div class="widget-body">
                    <ul>
                        <li class="list-unstyled">7.12.2015 klo 07.00 (2/12)</li>
                        <li class="list-unstyled">7.12.2015 klo 16.00 (1/12)</li>
                        <li class="list-unstyled">7.12.2015 klo 17.00 (7/12)</li>
                        <li class="list-unstyled">7.12.2015 klo 18.00 (0/12)</li>
                        <li class="list-unstyled">7.12.2015 klo 19.00 (0/12)</li>

                    </ul>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p>CrossFit© on CrossFit inc:n rekisteröimä tavaramerkki. CrossFit© is a registered trade mark of CrossFit inc.</p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2015, CrossFit Siilinjärvi<br>
                        Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>
